<h2>Account Login</h2>
<p>Returning users, please login to view your tasks.</p>
<% form_tag(session_path) do -%>
	Email: <%= text_field_tag 'email', nil, :size => 40 %>
	Password: <%= password_field 'password', nil, :size => 25 %>
	<%= submit_tag 'Log in' %>
<% end -%><br />
<p>New users, <%= link_to "Signup Now", new_user_path %> for free.</p>