<h1><Tasks><%= @project.name %></h1>

<div id="loading" style="display: none">
	Loading...
</div>

<h2>Totals: <span id="task_totals"><%= @task_totals %></span></h2>

<table>
	<%= render :partial => @tasks %>
</table>

<%= render :partial => 'form' %>
