<h2 class="add_a_new_task">Add a New Task</h2>

<h2>Add New Task</h2>
<p>
	<%= render :partial => 'form' %>
</p>

<p></p>
<h2>Today</h2>
<div id="task_list">
	<%= render :partial => @tasks %>
</div>

