<h1>Tasks</h1>

<div id="loading" style="display: none">
	Loading...
</div>

<h2>Totals: <span id="task_totals"><%= @task_totals %></span></h2>

<table border="1" id="tasks">
	<tr>
		<th>Description</th>
		<th>Value</th>
		<th>Completed</th>
		<th></th>
	</tr>
	<%= render :partial => @tasks %>
</table>

<p>
	<%= render :partial => 'form' %>
</p>