<h1>New Account Sign Up</h1>
<!-- TODO - add OpenID Authentication -->
<% form_for :user, :url => {:action => 'create'} do |f| -%>
	<p>
		Name: (optional)<br />
		<%= f.text_field :full_name, :size => 40 %>
	</p>
	
	<p>
		Email Address: (required)<br />
		<%= f.text_field :email, :size => 40 %>
	</p>
	
	<p>
		Password: (required)<br />
		<%= f.password_field :password, :size => 25 %>
	</p>
	
	<p>
		<%= submit_tag 'Sign Up' %>
	</p>
<% end -%>