<h2>Account Signup</h2>
<p>New users, Signup Now for free!</p>
<!-- TODO - add OpenID Authentication -->
<% form_for :user, :url => {:action => 'create'} do |f| -%>
	<p>
		Email: <%= f.text_field :email, :size => 40 %>
		Password: <%= f.password_field :password, :size => 25 %>
		<%= submit_tag 'Sign Up' %>
	</p>
<% end -%>